@model Service_Demo.Models.ViewModels.LoginViewModel

 <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 button_login col-sm-8 col-lg-6 mx-auto special ">
                <div class="row right-side border p-5 shadow-lg">
                    <right-side>
                        <h3 class="text-center" style="color:#F88634;">Login Here</h3>
                        <div class="col mt-5">
                            @using (Html.BeginForm("Login", "Account", FormMethod.Post)){
                                <div class="mb-2">
                                    <div class="mb-3 ">
                                        <label for="exampleFormControlInput1" class="form-label form_text_color">Email
                                            address</label>
                                        <input asp-for="Email" type="email" class="form-control login_input" id="exampleFormControlInput1" placeholder="evan.donohue@gmail.com">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label form_text_color">Password
                                             </label>
                                        <input asp-for="Password" type="password" class="form-control login_input" id="exampleFormControlInput1">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="d-grid gap-2">
                                        <button class="btn form-control rounded-pill button_outline"
                                            type="submit"><span class="login_word">Login</span></button>
                                    </div>
                                    <p class="lost_field mx-auto">Lost your password?</p>
                                    <div class="register_field register_field_p1 mx-auto">Don't have an account? <span class="register_field_p2">Create an account</span></div>
                                  </div>
                            }
                        </div>
                    </right-side>
                </div>
            
            </div>
        </div>
    </div>